body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1{
		margin: 0;
    padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
    background-color: #8fb1b3;
		border-bottom: 2px solid #555;
		text-align: center;
		color:white;
}
.thenote{
		margin-left:50px;
		margin-top: 150px;
		margin-right: 500px;
}

.navbar {
    width: 100%;
    background-color: #9fc5c7;
    overflow: hidden;
    border-bottom: 2px solid #555;
}

.nav-item {
    float: left;
    width: 25%;
    padding: 15px 0;
    text-align: center;
    color: white;
    cursor: pointer;
    border-right: 1px solid #444;
    box-sizing: border-box;
}

.nav-item:last-child {
    border-right: none;
}

.nav-item:hover {
    background-color: #aae3df;
}

.login-box {
    width: 250px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Translucent effect */
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 250px; /* Below navbar */
    right: 150px;
    color: white;
    box-sizing: border-box;
    backdrop-filter: blur(10px); /* Glassmorphism effect */
		border-radius: 10%;
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
		transition: transform  0.3s ease, box-shadow 0.3s ease;
}

.login-box h2 {
    margin: 0 0 30px 0;
		color: black;
    font-size: 24px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    color: black;
    box-sizing: border-box;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #9fc5c7;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #aae3df;
}
